.test{
    min-height: 100vh;
}
.roundName p{
    margin: auto;
    color: #fff;
    font-weight:bold;
    flex: 1;
    font-size: 18px;
}
.qDiv{
    max-width: 750px;
    max-height: 90vh;
    background-color: #eee;
    padding: 20px;
    font-size: 1.4em;
    border-radius: 2px;
    margin: 30px 15px;
    text-align: center;
    border-width: 1px;
    border-color: #888;
}
.contain{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qDiv p{
    margin-top: 10px;
}
.brandLogo{
    font-family: 'Rakkas',  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}
.header {
width: 70%;
}
.next {
    background-color: rgba(58,121,9,1);
    width: 30px;

}