.test{
    min-height: 100vh;
}
.toolBar{
    /* box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2); */
    background: #fff;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 40px;
}
.toolBar p{
    margin: 0;
    font-size: 18px;
}
.roundName{
    border-radius: 20px;
    width: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    height: 40px;
    display: flex;
    background-color: rgba(58,121,9,1);;
}
.roundName p{
    margin: auto;
    color: #fff;
    font-weight:bold;
    flex: 1;
    font-size: 18px;
}
.qDiv{
    max-width: 750px;
    background-color: #eee;
    padding: 20px;
    border-radius: 2px;
    margin: 30px 15px;
    text-align: center;
    border-width: 1px;
    border-color: #888;
}
.contain{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.qDiv p{
    margin-top: 10px;
}
.brandLogo{
    font-family: 'Rakkas',  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    /* text-transform: uppercase; */
    margin-top: 40px;
}
.button {
    margin: 20px 10px !important;
    border-color: 0px;
    border-radius: 4px;
    border-width: 1px;
    padding: 10px;
    background-color: rgba(58,121,9,1);
    font-size: 20px;
    color: #ffffff;
    width: 200px;
}